@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.hudL-MD {
		transform: rotate(-90deg);
		transform-origin: bottom left;
		margin-left: 48px;
	}
	.hudL-SM {
		transform: rotate(-90deg);
		transform-origin: bottom left;
		margin-left: 35px;
	}
}
